*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav #logo{
    display: inline-block;
    width: 100px;
}

h1{
    text-align: center;
    background-color: lavender;
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(177, 177, 211);
    color: rgb(149, 33, 149);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    background-color: lavender;
    text-transform: uppercase;
    border-bottom: solid rgb(177, 177, 211);
    color: rgb(149, 33, 149);
}

.nav-item{
    text-decoration: none;
    background-color: aliceblue;
    padding: 20px;
}

a:hover{
    background-color: rgb(149, 33, 149);
    transition: all 0.2s ease-in;
    color: white
}

figcaption{
    text-align: center;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

